.people1 {
    position: absolute;

    left: 131px;
    bottom: 83px;

    width: 174px;
    height: 329px;
}

.people2 {
    position: absolute;

    top: 422px;
    right: 706px;

    width: 100px;
    height: 100px;

    z-index: 2;
}

.people3 {
    position: absolute;

    top: 350px;
    right: 577px;

    width: 174px;
    height: 329px;
}

.greyFlash1 {
    position: absolute;

    top: 0;
    left: 0;
}

.greyFlash2 {
    position: absolute;

    top: 0;
    left: 0;
}

.redFlash1 {
    position: absolute;

    top: 342px;
    left: 0;
}

.redFlash2 {
    position: absolute;

    right: 95px;
    bottom: 329px;
}

.redFlash3 {
    position: absolute;

    right: 0;
    bottom: 0;

    z-index: 2;
}
